
<div class="content-right-box override-content">
    <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About Me</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="false">Education</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Skills</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">Experience</a>
    </nav>
</div>  

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
          <!-- about me -->
        <div class="content-right-box content-right-separate">
            <div class="header-title">
                <fa-icon [icon]="faUserTie"></fa-icon>About Me
            </div>
            <p class="p_margin"> 
                Graduate of Bachelor of Science in Information Technology (BSIT) and currently working as a full stack (front-end and back-end) developer. I do freelance job like creating web designs, converting web design into html, css, php and javascript, making website more interactive. I also have experience in two programming languages such as JAVA and Visual Basic.
            </p>

                <div class="row row-space d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4 left-info">Fullname</div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 right-infor">
                    <span class="mr-4">:</span>Rick Ryan A. Medillo
                    </div>
                </div>

                <div class="row row-space d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-sm-4 left-info">Age</div>
                    <div class="col-lg-6 col-md-6 col-sm-8 right-infor"><span class="mr-4">:</span>{{currentMonth >= birthMonth ? getMoreAge() : getLessAge()}}</div>
                </div>

                <div class="row row-space d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-sm-4 left-info">Birthdate</div>
                    <div class="col-lg-6 col-md-6 col-sm-8 right-infor">
                    <span class="mr-4">:</span>September 1, 1986
                    </div>
                </div>

                <div class="row row-space d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-sm-4 left-info">Address</div>
                    <div class="col-lg-6 col-md-6 col-sm-8 right-infor">
                    <span class="mr-4">:</span>Cebu, Philippines
                    </div>
                </div>

                <div class="row row-space d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-sm-4 left-info">Mobile Number</div>
                    <div class="col-lg-6 col-md-6 col-sm-8 right-infor">
                    <span class="mr-4">:</span>+639611335934 
                    </div>
                </div>
 
                <div class="row row-space row-space-bottom d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-sm-4 left-info">Email</div>
                    <div class="col-lg-6 col-md-6 col-sm-8 right-infor">
                    <span class="mr-4">:</span>rickryan29.rr@gmail.com
                    </div>
                </div>
        </div><!-- end content-right-box-->
    </div><!-- end first-tab-->
    
    <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
        <!-- education achievements/awards -->
        <div class="content-right-box content-right-separate">
            <div class="row row-break ">	
                <div class="col-md-6">
                    <div class="header-title">
                        <fa-icon [icon]="faGraduationCap"></fa-icon> Education
                    </div><!-- end header-title-->

                    <div class="education">
                        <div class="education-level">
                            <div class="education-level-name">
                                Primary Education
                            </div>
                            <div class="school-year text-right"><strong>1993 - 1999</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 school-name"><strong>Tungkop Elementary School</strong></div>
                        </div>
                        <div class="school-address">Tungkop Minglanilla, Cebu</div>
                    </div><!-- end education-->
                    
                    <div class="education">
                        <div class="education-level">
                            <div class="education-level-name">
                                Secondary Education
                            </div>
                            <div class="school-year text-right"><strong>1999 - 2003</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 school-name"><strong>Siena School of Naga</strong></div>
                        </div>
                        <div class="school-address">City of Naga, Cebu</div>
                    </div><!-- end education-->

                    <div class="education">
                        <!-- <div class="education-level">Tertiary Education</div> -->
                        <div class="education-level">
                            <div class="education-level-name">
                                Tertiary Education
                            </div>
                            <div class="school-year text-right"><strong>2014 - 2017</strong></div>
                        </div>
                        <div class="course">Bachelor of Science in Information Technology</div>
                        <div class="row">
                            <div class="col-md-12 school-name"><strong>St. Cecilia's College - Cebu</strong></div>
                        </div>
                        <div class="school-address">Poblacion, Ward II, Minglanilla, Cebu</div>
                    </div><!-- end education-->
                </div><!-- end col-md-6-->

                <div class="col-md-6">	
                    <div class="header-title">
                        <fa-icon [icon]="faAward"></fa-icon> Achievements / Awards
                    </div><!-- end header-title-->

                    <div class="education">
                        <div class="education-level">
                            <div class="text-center">
                                Academic Awards (2017)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 school-name text-center"><strong>Best in Web Development</strong></div>
                        </div>
                    </div><!-- end education-->	

                    <div class="education">
                        <div class="education-level">
                            <div class="text-center">
                                Special Awards (2017)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 school-name text-center"><strong>Technopreneurship / Capstone Awards - "Online Public Access Catalog"</strong></div>
                        </div>
                    </div><!-- end education-->
                </div>
            </div><!-- end row-->
        </div><!-- end content-right-box-->
    </div><!-- end second-tab-->

    <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
        <!-- skills -->
        <div class="content-right-box content-right-separate">
            <div class="header-title">
                <fa-icon [icon]="faWrench"></fa-icon> Skills
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="skills-box">
                        <div class="skill-header">
                            Graphic and Web Design
                        </div>
                        <div class="skill-body">
                            Creating logo, banners, posters and also Web design layout for websites using photoshop.
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="skill-header">
                            PHP and Javascript
                        </div>
                        <div class="skill-body">
                            <b>PHP</b> is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.
                            <br><br>
                            <b>JavaScript</b> a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else. 
                        </div>
                    </div>
                    
                    <div class="skills-box">
                        <div class="skill-header">
                            Angular
                        </div>
                        <div class="skill-body">
                            A development platform for building mobile and desktop web applications using Typescript/JavaScript and other languages.
                        </div>
                    </div>
                </div><!-- end col-md-6-->

                <div class="col-md-6">
                    <div class="skills-box">
                        <div class="skill-header">
                            HTML and CSS
                        </div>
                        <div class="skill-body">
                            <b>HTML</b> is the standard markup language for documents designed to be displayed in a web browser.
                            <br><br>
                            <b>CSS</b> is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.
                        </div>
                    </div>
                    
                    <div class="skills-box">
                        <div class="skill-header">
                            MySQL
                        </div>
                        <div class="skill-body">
                            Database for storing and manipulating data, defining the relationship of each table.
                        </div>
                    </div>
                </div><!-- end col-md-6-->
            </div><!-- end row-->
        </div><!-- end content-right-box-->
    </div><!-- end third-tab-->

    <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
        <!-- experience -->
        <div class="content-right-box content-right-separate">
            <div class="header-title">
                <fa-icon [icon]="faBriefcase"></fa-icon> Experience
            </div><!-- end header-title-->

            <div class="row">
                <div class="col-md-12">
                    <div class="education expe-box">
                        <div class="course">Web Developer</div>
                        <div class="row">
                            <div class="col-md-12 school-name"><strong>Cenix Web Development Services (June 2017 - February 2020)</strong></div>
                        </div>
                        <div class="school-address">4/F 82 Vibo Center (BF Building), North Escario Street, Cebu City, Cebu</div>
                    </div><!-- end education-->
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="education expe-box">
                        <div class="course">Web Developer</div>
                        <div class="row">
                            <div class="col-md-12 school-name"><strong>Home based / Freelance </strong></div>
                        </div>
                        <div class="school-address">2016-2017</div>
                    </div><!-- end education-->

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="education expe-box">
                        <div class="course">Graphic Artist (Editing and Retouching) - OJT</div>
                        <div class="row">
                            <div class="col-md-12 school-name"><strong>Jomacker Photo Editing (June - Aug 2016)</strong></div>
                        </div>
                        <div class="school-address">1524 Charity St., Belmont Village, Minglanilla, Cebu</div>
                    </div><!-- end education-->
                </div>
            </div>
            
        </div><!-- end content-right-box-->
    </div><!-- end fourth-tab-->
</div><!-- end tab-content-->