
<div class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="left-footer">
                    Copyright &copy; {{ currentYear }} <span>Rick Ryan Medillo.</span> All Rights Reserved.
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="right-footer text-center">
                    <h5>CONTACT INFO</h5>
                    <p><fa-icon [icon]="faEnvelope"></fa-icon> Email: rickryan29.rr@gmail.com</p>
                    <p><fa-icon [icon]="faMobile"></fa-icon> Mobile: +639611335934</p>
                    <p>
                        Follow me on:&nbsp; 
                        <a href="https://www.facebook.com/mudp0et" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/rick-ryan-medillo-7821371a1/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    </p>
                </div>
            </div>
        </div> 
    </div>
</div> 