<div class="content-right-box">
    <div class="header-title">
        <fa-icon [icon]="faImage"></fa-icon> Gallery
    </div><!-- end header-title-->

    <div class="row">
        <div class="img-gallery">
            <div class="col-md-4">
                <img src="assets/image/gallery/gallery10.jpg" class="img-fluid" alt="">
                <img src="assets/image/gallery/gallery11.jpg" class="img-fluid" alt="">
                <img src="assets/image/gallery/gallery12.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/image/gallery/gallery20.JPG" class="img-fluid" alt="">
                <img src="assets/image/gallery/gallery21.jpg" class="img-fluid" alt="">
                <img src="assets/image/gallery/gallery22.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/image/gallery/gallery30.jpg" class="img-fluid" alt="">
                <img src="assets/image/gallery/gallery31.jpg" class="img-fluid" alt="">
                <img src="assets/image/gallery/gallery32.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    
</div><!-- end content-right-box-->	