<div class="header-banner">  
    <div class="container">
        <div class="logo-menu d-none d-sm-none d-md-none d-lg-block">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-4">
                    <div class="wrapper">
                        <div class="fr1"><a onClick="window.toggle();"><img src="assets/image/hamburger_button.png" class="img-fluid"></a>
                        <div class="pos"></div>
                        </div>
                        <div class="toggledAnother" style="display: block;">
                        <ul class="horizontalMenu3">
                            <li><a href="#" routerLinkActive="active" routerLink="about">Home</a></li>
                            <li><a href="#" routerLinkActive="active" routerLink="gallery">Gallery</a></li>
                            <li><a href="#" routerLinkActive="active" routerLink="works">Projects</a></li>
                            <li><a href="#" routerLinkActive="active" routerLink="testimonials">Testimonials</a></li>
                            <li><a href="#" routerLinkActive="active" routerLink="contact">Contact</a></li>
                        </ul>
                        </div>
                </div>  
                </div>
            </div><!-- end row-->	
        </div><!-- end logo-menu-->

        <div class="row new-nav d-lg-none">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                      <a class="navbar-brand" href="#"routerLinkActive="active" routerLink="about">Rick Ryan Medillo</a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="navbar-collapse collapse justify-content-end" id="navbarsExample05">
                            <ul class="navbar-nav">
                                <li class="nav-item "><a class="nav-link" href="#" routerLinkActive="active" routerLink="about">Home</a></li>
                                <li class="nav-item "><a class="nav-link" href="#" routerLinkActive="active" routerLink="gallery">Gallery</a></li>
                                <li class="nav-item "><a class="nav-link" href="#" routerLinkActive="active" routerLink="works">Works</a></li>
                                <li class="nav-item "><a class="nav-link" href="#" routerLinkActive="active" routerLink="testimonials">Testimonials</a></li>
                                <li class="nav-item "><a class="nav-link" href="#" routerLinkActive="active" routerLink="contact">Contact</a></li>
                            </ul>
                        </div>
                  </nav>
            </div>
        </div>
    </div><!-- end container-->	 
</div><!-- end header-banner-->	

<div class="container d-none d-sm-none d-md-none d-lg-block">
    <div class="column row">
            <div class="col-md-12 col-lg-8">
                <div class="name-position d-flex justify-content-end">
                    <div class="col-md-12 col-lg-6">
                        <p>
                        Web Designer, Front-End and Back-End <br>Developer. I Design and Build Websites from Scratch.
                        </p>
                            <div class="dl-button">
                                <div class="download-resume">
                                    <button class="btn btn-primary bntdwnld" role="button" type="submit" onclick="downloadFile('rickryan')">
                                        <fa-icon [icon]="faDownload"></fa-icon>&nbsp;&nbsp;&nbsp;DOWNLOAD RESUME
                                    </button>
                                <!-- <a href="src/assets/" ><fa-icon [icon]="faDownload"></fa-icon>&nbsp;&nbsp;&nbsp;DOWNLOAD RESUME</a> -->
                                </div>
                            </div>
                    </div><!-- end col-md-6-->
                </div><!-- end name-position-->
            </div>
    </div><!-- end column-->	
</div><!-- end container-->	



