<!-- <p>whitespace works!</p> -->
    <div class="col-md-12 col-lg-8">
            
            <div class="whitespace-form">
                    
                <form [formGroup]="whitespaceForm" id="gform" (ngSubmit)="whitespaceCheck()">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <!-- <div class="input-group-prepend override-input-prepend">
                                                <fa-icon [icon]="faEnvelope" class="fcomment"></fa-icon>
                                            </div> -->
                                            <textarea
                                               #txtVal
                                               formControlName="whitespace" 
                                                class="form-control" 
                                                id="whitespace" 
                                                name="whitespace" 
                                                placeholder="Enter your text" 
                                                [ngClass]="{'is-invalid':f['whitespace'].touched && f['whitespace'].invalid, 
                                                            'is-valid': f['whitespace'].untouched && f['whitespace'].valid}">
                                            </textarea>
                                            <div *ngIf="f['whitespace'].touched && f['whitespace'].invalid" class="invalid-feedback">
                                                Please provide a text.
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end row-->
                                <div class="col-md-12 d-flex justify-content-end">
                                    <button class="btn btn-primary checkWhiteSpace" role="button" type="submit" [disabled]="!whitespaceForm.valid">
                                        <fa-icon [icon]="faMailReply"></fa-icon> 
                                        Generate
                                    </button>
                                </div>
                    </form>
            </div><!-- end contact-->

            <!-- <span *ngIf="txtVal.value">Value: {{ txtVal.value }}</span> -->
            <p [innerHTML]="whitespaceValue" ></p>
    </div>