<div class="container about-container d-flex justify-content-end">
    <div class="col-md-12 col-lg-8">
        <div class="content-right-box">
            <div class="row">
                <div class="header-title">
                    <fa-icon [icon]="faComments"></fa-icon> Testimonials
                </div><!-- end header-title-->
            </div>
            <!-- <div *ngFor="let getTestimony of combData" >
                 {{  getTestimony.testimony.name + ' ' + '| COMMENT => ' + getTestimony.testimony.testimonials }} 
                    <div *ngIf="getTestimony.reply">
                        <div *ngFor="let c of getTestimony.reply | keyvalue; let i=index; last as last; count as count">
                                    {{getTestimony.reply[i].name + ' ' + '| REPLY => ' + getTestimony.reply[i].reply }}
                        <div *ngIf="!last">{{ 0 }}</div>
                        <div *ngIf="last">{{ count }}</div>
                    </div>
                 </div>
            </div>
            <br> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="testi-form">
                        <form [formGroup]="form" (ngSubmit)="addTesti()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend override-input-prepend">
                                            <fa-icon [icon]="faUser" class="fuser"></fa-icon>
                                        </div>
                                        <!-- <input type="text" class="form-control" id="pname" placeholder="Name" value=""> -->
                                        <input
                                            formControlName="name"
                                            id="name"
                                            name="name"
                                            type="text"
                                            class="form-control"
                                            placeholder="Name"
                                            [ngClass]="{'is-invalid':f['name'].touched && f['name'].invalid, 
                                                        'is-valid': f['name'].untouched && f['name'].valid}">
                                            <div *ngIf="f['name'].touched && f['name'].invalid" class="invalid-feedback">
                                                Please provide a name.
                                            </div>
                                    </div>
                                </div>
            
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend override-input-prepend">
                                            <fa-icon [icon]="faCommentAlt" class="fcomment"></fa-icon>
                                        </div>
                                        <textarea
                                            formControlName="testimonials" 
                                            class="form-control" 
                                            id="testimonials" 
                                            name="testimonials" 
                                            placeholder="Testimonial" 
                                            rows="3"
                                            [ngClass]="{'is-invalid':f['testimonials'].touched && f['testimonials'].invalid, 
                                                        'is-valid': f['testimonials'].untouched && f['testimonials'].valid}">
                                        </textarea>
                                        <div *ngIf="f['testimonials'].touched && f['testimonials'].invalid" class="invalid-feedback">
                                            Please provide a testimonials.
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end row-->
                            <div class="d-flex justify-content-end button-post">
                                <button class="btn btn-primary savebtn" role="button" type="submit" [disabled]="!form.valid"><fa-icon [icon]="faCommentDots"></fa-icon> Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- empty testiomonial -->
            <div class="row" *ngIf="!combData">
                <div class="col-md-12">
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <div class="comment-box">
                                    <div class="comment-content">
                                        No Testimonial Yet!
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of empty testiomonial -->
            <div class="row">
                <div class="col-md-12">
                    <ng-template ngFor let-getAllTestimonial [ngForOf]="combData | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                    }">
                    <ul id="comments-list" class="comments-list testi-list">
                        <li>
                            <div class="comment-main-level">
                                <!-- comment area -->
                                
                                <div class="comment-box">
                                    <div class="comment-head"> 
                                        <h6 class="comment-name">{{ getAllTestimonial.testimony.name }}</h6>
                                        <span class="badge badge-info badge-comment mr-2 ">{{ getAllTestimonial.testimony.country }}</span>
                                        <span class="postedDate">{{ getAllTestimonial.testimony.postedon | dateAgo }}</span>
                                    </div>
                                    <div class="comment-content">
                                        {{ getAllTestimonial.testimony.testimonials }}
                                        <span class="reply-icon" >
                                            <div *ngIf="getAllTestimonial.reply">
                                                <div *ngFor="let c of getAllTestimonial.reply | keyvalue;  let i=index; last as last; count as count">
                                                    <div *ngIf="last">
                                                        <a href="#" data-toggle="collapse" type="button" [attr.data-target]="'#replyToggle'+ getAllTestimonial.testimony.testimoniKey" aria-expanded="false" [attr.aria-controls]="'replyToggle'+ getAllTestimonial.testimony.testimoniKey" >
                                                            <fa-icon [icon]="faComment" class="fComment"></fa-icon>
                                                            <span class="badge badge-default ml-1" >
                                                                {{ count }}
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" data-toggle="collapse" type="button" [attr.data-target]="'#replyArea'+ getAllTestimonial.testimony.testimoniKey" aria-expanded="false" [attr.aria-controls]="'replyArea'+ getAllTestimonial.testimony.testimoniKey" (click)="onItemSelector(getAllTestimonial.testimony.testimoniKey)"><fa-icon [icon]="faMailReply"></fa-icon></a>
                                        </span>
                                    </div>
                                </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="collapse replyCollapse" id="replyArea{{getAllTestimonial.testimony.testimoniKey}}">
                                        <div class="card card-body">
                                            <form [formGroup]="replyForm" (ngSubmit)="addReplies()">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend override-input-prepend align-middle">
                                                                <fa-icon [icon]="faUser" class="fuser"></fa-icon>
                                                            </div>
                                                            <input
                                                            formControlName="name"
                                                            id="name{{ getAllTestimonial.testimony.testimoniKey }}"
                                                            name="name{{ getAllTestimonial.testimony.testimoniKey }}"
                                                            type="text"
                                                            class="form-control"
                                                            placeholder="Name"
                                                            [ngClass]="{'is-invalid':rF['name'].touched && rF['name'].invalid, 
                                                                        'is-valid': rF['name'].untouched && rF['name'].valid}">
                                                            <div *ngIf="rF['name'].touched && rF['name'].invalid" class="invalid-feedback">
                                                                Please provide a name.
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="col-md-12">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend override-input-prepend">
                                                                <fa-icon [icon]="faCommentAlt" class="fcomment"></fa-icon>
                                                            </div>
                                                            <textarea
                                                            formControlName="reply" 
                                                            class="form-control" 
                                                            id="reply{{ getAllTestimonial.testimony.testimoniKey }}" 
                                                            name="reply{{ getAllTestimonial.testimony.testimoniKey }}" 
                                                            placeholder="Your Reply" 
                                                            rows="3"
                                                            [ngClass]="{'is-invalid':rF['reply'].touched && rF['reply'].invalid, 
                                                                        'is-valid': rF['reply'].untouched && rF['reply'].valid}">
                                                        </textarea>
                                                        <div *ngIf="rF['reply'].touched && rF['reply'].invalid" class="invalid-feedback">
                                                            Please provide a reply.
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end row-->
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="d-flex justify-content-start commentName">
                                                            <h5>Reply to <span>{{ getAllTestimonial.testimony.name }}</span>  's Post</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="d-flex justify-content-end button-post">
                                                            <button class="btn btn-primary savebtn" role="button" id="{{ getAllTestimonial.testimony.testimoniKey }}" name="{{ getAllTestimonial.testimony.testimoniKey }}" type="submit" [disabled]="!replyForm.valid"><fa-icon [icon]="faCommentDots"></fa-icon> Post</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="collapse replyCollapse" id="replyToggle"> -->
                            <!-- Reply area -->
                            <div *ngIf="getAllTestimonial.reply">
                                <div *ngFor="let c of getAllTestimonial.reply | keyvalue;  let r=index">
                                    <ul class="collapse comments-list reply-list" id="replyToggle{{getAllTestimonial.testimony.testimoniKey}}">
                                        <li>
                                            <!-- reply box-->
                                            <div class="comment-box" >
                                                <div class="comment-head">
                                                    <h6 class="comment-name replyname">{{getAllTestimonial.reply[r].name}}</h6>
                                                    <span class="badge badge-info mr-2">{{getAllTestimonial.reply[r].country}}</span>
                                                    <span class="postedDate">{{ getAllTestimonial.reply[r].postedon | dateAgo }} </span>
                                                </div>
                                                <div class="comment-content">
                                                    {{getAllTestimonial.reply[r].reply}}
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- end of reply-list -->
                                </div>
                            </div>
                        </li>

                    </ul><!-- end of comment-list -->
                </ng-template>
                </div> 
            </div>
            
            
            <div class="row mt-2">
                <div class="col-md-2">
                    <div class="d-flex justify-content-start">
                        <select (change)="onTableSizeChange($event)" class="custom-select select-pagi">
                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                            {{ size }}
                            </option> 
                        </select>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="d-flex justify-content-end pagi-numbers mt-2">
                        <pagination-controls
                            previousLabel="Prev"
                            nextLabel="Next"
                            (pageChange)="onTableDataChange($event)"
                        >
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div><!-- end content-right-box-->	
    </div>
</div>
