
<!-- start sidebar -->
<div class="left-box">
        <img src="assets/image/rick-ryan-profile.jpg" class="img-fluid">
        
        <div class="view-profile text-center">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12"  >
                    <!-- like button  -->
                    <button (click)="addLike()" class="btn btn-default btn-md btn-like" [disabled]="this.visitorIP ?? null">
                    <fa-icon [icon]="faThumbsUp"></fa-icon>&nbsp;&nbsp;&nbsp;LIKE ME
                    </button>
                    <!-- end like button -->
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="title">
                CAREER OBJECTIVE
            </div>

            <div class="content">
                To secure a challenging position in a reputable organization to expand my learnings, knowledge, and skills.
            </div>

            <div class="category">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <span class="category-list">
                        <fa-icon [icon]="faThumbsUp"></fa-icon>&nbsp;&nbsp;LIKES
                        </span>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-5 text-right">
                        <span class="category-value">{{ this.countLikes  }}</span>
                    </div>
                </div><!-- end row-->

                <hr class="hr-category">
               <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <span class="category-list">
                        <a routerLinkActive="active" routerLink="visitors"><fa-icon [icon]="faUsers"></fa-icon>&nbsp;&nbsp;VISITORS</a>
                        </span>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-5 text-right">
                        <span class="category-value">{{this.countvisitors}}</span>
                    </div>
                </div><!-- end row-->

                <hr class="hr-category">

                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <span class="category-list">
                            <a routerLinkActive="active" routerLink="testimonials"><fa-icon [icon]="faComments"></fa-icon>&nbsp;&nbsp;TESTIMONIAL</a>
                        </span>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-5 text-right">
                    <span class="category-value">{{this.counttestimonials}}</span>
                    </div>
                </div><!-- end row-->

            </div><!-- end category-->
        </div><!-- end content-box-->
    </div><!-- end left-box-->
    <!-- end sidebar -->