/* You can add global styles to this file, and also import other style files */
ul .form-container {
    border: 1px solid #e6e5e5;
    padding: 25px;
    margin-top: 100px;
}

body {
  background-color: #eae3d8;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.blue {
  border: 1px solid blue;
}

/*.text-right.login {
    margin: 30px auto;
}*/

ul.list-inline.list-nav {
    display: -webkit-box;
    float: right;
}

ul.list-inline.list-nav li {
    margin-left: 15px;
}


/* banner */
span.header-title {
    color: #eba64b;
    font-size: 18px;
    font-weight: 600;
}

.header-banner {
	background-image: url(assets/image/header_banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #373e44;
  min-height: 496px;
  filter: drop-shadow(3px 2px 5px #00080e);
}

.logo-menu {
    padding-top: 25px;
    padding-bottom: 128px;
}

.wrapper,
.toggledAnother {
  width: auto;
}
.fr1 {
  float: right;
  margin: 10px 0 0 0;
  cursor: pointer;
  position: relative;
}
.fr1 a {
  padding: 10px;
  /*background-color: #333;*/
  color: #fff;
  line-height: 20px;
  text-decoration: none;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fr1 a:hover {
  /*background-color: #2c3e50;*/
  color: #fff;
  text-decoration: none;
}
.pos {
  position: absolute;
  left: -20px;
  top: 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRP_KP2HHUb1ZKYROZxakpF13CzPOqJF23JytQNo05OJm7hsVIzg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.pos2 {
  position: absolute;
  left: -20px;
  top: 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ9n-qfKp3bLa5_zdX6FyWfjKM-1aI_U2qxtQdnMsEW4lAgIlp");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.wrapper {
  height: 2em;
}
.toggledAnother {
  height: 2em;
}
.toggledAnother {
  float: right;
  color: #333;
  background-color: transparent;
  display: none;
}
/*Horizontal Menu - Right Align */
ul.horizontalMenu3 {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
ul.horizontalMenu3 li {
  display: inline-block;
  line-height: 35px;
  margin: 0 10px 10px 0;
}
ul.horizontalMenu3 li:last-child {
  margin-right: 30px;
}
ul.horizontalMenu3 li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
ul.horizontalMenu3 li a:hover {
  color: #eae3d8;
}
/* end banner */

.content-right-box.override-content a:hover {
  color: #f2aa4c;
}
/* left profile */
.column {
    margin-top: -275px;
}

.left-box {
    background-color: #373e44;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    min-height: 840px;
    margin-top: -195px;
    filter: drop-shadow(3px 2px 3px #00080e);
    border-bottom: 5px solid #f2aa4c;
}

div.content-box {
    margin: 43px 20px 18px 20px;
}

div.title {
    font-size: 18px;
    font-weight: 700;
    color: #f2aa4c;
}

.content {
    margin: 22px auto 50px auto;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.content-box a {
    color: #f2aa4c;
    font-weight: 600;
}

.category {
    margin: 30px auto;
}

span.category-list {
    font-weight: 700;
    color: #ffffff;
    /*margin-bottom: 25px;*/
    display: block;
}

span.category-list fa-icon {
  color: #f2aa4c;
}

span.category-value {
    font-weight: 700;
    /*margin-bottom: 25px;*/
    display: block;
    color: #eae3d8;
}

hr.hr-category {
  border-top: 3px solid rgb(242 170 76);
}

.view-profile .text-right a {
    /*position: absolute;
    top: 380px;*/
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    margin: 0 auto;
    background-color: #eba64b;
    padding: 10px 20px;
    border-radius: 22px;
    color: #fff;
    font-weight: 600;
}

.view-profile .text-right a:hover {
    text-decoration: none;
    background-color: #ca944e;
}

.view-profile .text-left a {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 22px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
}

.view-profile .text-left a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.view-profile.text-center {
    margin-top: -45px;
}
/* end of left profile*/

button#btnDownload {
    border: 2px solid white;
    color: #fff;
    border-radius: 20px;
}

button#btnDownload:hover {
    border: 2px solid #f2aa4c;
    color: #f2aa4c;
}

.row.move {
    padding-left: 20%;
}

/* name - position */
/*.name-position {
    margin-top: 160px;
    color: #f2aa4c;
}*/

.row.name-pos.text-center {
    justify-content: center;
    display: block;
    margin-top: -16px;
}

span.position {
    font-weight: 600;
}

.download-resume a {
    border: 2px solid #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 22px;
}

.download-resume a:hover {
    text-decoration: none;
    border: 2px solid #f2aa4c;
    color: #f2aa4c;
}

.content-right-box {
    background-color: #373e44;
    box-shadow: 3px 2px 5px #00080e;
    margin-top: 66px;
    padding: 30px;
    color: #ffffff;
    border-bottom: 5px solid #f2aa4c;
}

.content-right-box.content-right-separate {
  margin-top: 20px;
}

/* end of name - position*/

div#post_button .modal-body {
  background-color: #373e44;
}

div#post_button .modal-content {
  filter: drop-shadow(3px 2px 5px #000000);
  border: 3px solid rgb(255, 255, 255);
}

div#post_button .modal-footer {
  display: block;
  text-align: center;
}

.reply-modal .modal-body {
  background-color: #373e44;
}

.reply-modal .modal-content {
  filter: drop-shadow(3px 2px 5px #000000);
  border: 3px solid rgb(255, 255, 255);
}

.reply-modal .modal-footer {
  display: block;
  text-align: center;
}

.reply-modal .modal-header .modal-title {
  color: #373e44;
  font-weight: 700;
}

/* h5.testi-title {
    color: #eba64b;
} */

h5.modal-title.override-modal-title span {
  text-transform: uppercase;
  color: #f2aa4c;
}

.input-group-prepend.override-input-prepend {
  margin-right: 0;
  padding: 0 10px;
  background: #f2aa4c;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  color: #373e44;
}

.input-group-prepend.override-input-prepend i {
  margin: auto;
}

button#testimoial_button {
  background-color: #f2aa4c;
  color: #373e44;
  font-weight: 600;
  border-color: #f2aa4c;
}

button#reply_button {
  background-color: #f2aa4c;
  color: #373e44;
  font-weight: 600;
  border-color: #f2aa4c;
}

button.btn.btn-primary.btn-post-override {
  background-color: #eae3d8;
  border-color: #eae3d8;
  color: #373e44;
  text-transform: uppercase;
  font-weight: 700;
  filter: drop-shadow(3px 2px 3px #00080e);
}

button.btn.btn-primary.btn-post-override:hover {
  background-color: #f2aa4c;
  border-color: #f2aa4c;
  color: white;
}

button.btn.btn-primary.btn-post-override:focus {
  box-shadow: none;
}

button.btn.btn-danger.btn-reply-override {
  background-color: #f2aa4c;
  border-color: #f2aa4c;
  color: #373e44;
  text-transform: uppercase;
  font-weight: 700;
  filter: drop-shadow(3px 2px 3px #00080e);
}

button.btn.btn-danger.btn-reply-override:hover {
  background-color: #373e44;
  border-color: #373e44;
  color: white;
}

button.btn.btn-danger.btn-reply-override:focus {
  box-shadow: none;
}

/* sub header */
.content-right-box.override-content {
  border-bottom: none;
  padding: 15px;
}

.content-right-box.override-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #373e44;
  background-color: #f2aa4c;
  font-weight: 700;
}

.content-right-box.override-content a {
  color: #eae3d8;
  font-weight: 600;
}
/* end of sub header */

/* footer */
.footer-bg {
  background-image: url(assets/image/footer.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 193px;
  margin-top: 18px;
  filter: drop-shadow(3px 2px 5px #00080e);
}

.col-lg-8 .left-footer {
    margin-top: 125px;
    color: #373e44;
    font-size: 14px;
    font-weight: 700;
}

.col-lg-8 .left-footer span {
    color: #373e44;
    text-transform: uppercase;
    font-weight: 700;
}

.col-lg-4 .right-footer {
    color: #fcead2;
    margin-top: 16px;
}

.col-lg-4 .right-footer p {
    font-weight: 600;
    margin-bottom: 10px;
}

.right-footer.text-center h5 {
    margin-bottom: 20px;
    border-bottom: 2px solid #f2aa4c;
    text-align: center;
    padding: 5px 0 15px 0;
    color: #f2aa4c;

}

.col-lg-4 .right-footer p fa-icon {
    color: #f2aa4c;
}
/* end of footer*/

/* testimonials */
.testi-form {
  border: 1px solid #373e44;
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 10px;
  background-color: #eae3d8;
  filter: drop-shadow(3px 2px 3px #00080e);
  box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

.button-reply {
  float: right;
  margin: 12px auto;
}

.col-md-12.button-reply.text-right button {
  background-color: #17a2b8;
    border: 1px solid #17a2b8;
}

.col-md-12.button-reply.text-right button.btn-primary.focus, .col-md-12.button-reply.text-right button.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(55 62 68);
}

.col-md-12.button-reply.text-right button.btn-primary:not(:disabled):not(.disabled).active, .col-md-12.button-reply.text-right button.btn-primary:not(:disabled):not(.disabled):active, .col-md-12.button-reply.text-right button.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f2aa4c;
  border-color: #373e44;
}

.col-md-12.button-reply.text-right button:hover {
  background-color: #eae3d8;
  border: 1px solid #eae3d8;
  color: #373e44;
}

.button-post button.savebtn {
  background-color: #f2aa4c;
  border: 1px solid #eae3d8;
  color: #373e44;
}

.button-post button.btn-primary.savebtn.focus, .button-post button.btn-primary.savebtn:focus {
  box-shadow: 0 0 0 0.2rem rgb(234 227 216);
}

.button-post button.btn-primary.savebtn:not(:disabled):not(.disabled).active, .button-post button.btn-primary.savebtn:not(:disabled):not(.disabled):active, .button-post button.show>.btn-primary.savebtn.dropdown-toggle {
  color: #373e44;
  background-color: #f2aa4c;
  border-color: #eae3d8;
}

.button-post button.savebtn:hover {
  background-color: #f2aa4c;
  border: 1px solid #f2aa4c;
  color: #ffffff;
}

.button-post .btn-primary.savebtn.disabled, .btn-primary.savebtn:disabled {
  color: #373e44;
}

.replyCollapse .card {
  background-color: #eae3d8;
  padding: 10px;
}

.d-flex.justify-content-start.commentName h5 {
  color: #17a2b8;
  font-size: 15px;
}

.d-flex.justify-content-start.commentName h5 span {
  color: #373e44;
  text-transform: uppercase;
}

.input-group-prepend.override-input-prepend fa-icon.fuser {
    padding: 7px 0;
}

.input-group-prepend.override-input-prepend fa-icon.fcomment {
    padding: 30px 0;
}

.input-group-prepend.override-input-prepend fa-icon.faEnvelope {
  padding: 7px 0;
}

.card.mb-3.override-card {
  color: #373e44;
  font-weight: 600;
  font-size: 14px;
}

.card.mb-3.override-card .card-body {
  padding: 10px 20px;
}

.card.mb-3.override-card .card-header {
  background-color: #eae3d8;
  font-weight: 700;
}

.card.mb-3.override-card .card-footer {
  background-color: #eae3d8;
  font-weight: 700;
}

.card.reply-card {
  color: #373e44;
  font-size: 14px;
  border: none;
  width: 100%;
}

.card.reply-card .card-body {
  padding: 10px 20px;
}

.card.reply-card .card-header {
  background-color: #9fa4a8;
  font-weight: 700;
  padding: 10px 20px;
  color: #000000;;
}

.card.reply-card .card-footer {
  background-color: #9fa4a8;
  font-weight: 700;
  padding: 0 20px;
  color: #000000;;
}

.card.reply-card .card-header fa-icon {
  padding: 3px 6px;
  background-color: #373e44;
  color: #eae3d8;
  border-radius: 4px;
}

.card.reply-card .card-footer fa-icon {
  padding: 3px 6px;
  background-color: #373e44;
  color: #eae3d8;
  border-radius: 4px;
}

select.custom-select.select-pagi {
  border: 0;
  cursor: pointer;
  background-color: #eae3d8;
  color: #373e44;
  font-weight: 600;
  width: auto;
}

.pagi-numbers li {
  background-color: #4b555e;
  margin-right: 0px !important;
  border-right: 1px solid #fff;
}

.pagi-numbers li a {
  color: #eae3d8;
}

.pagi-numbers li a:hover {
  color: #6c757d;
  text-decoration: none;
  background-color: #fff;
}

.pagi-numbers li a[aria-label="Next page"] {
  color: #6c757d;
}

.pagi-numbers li a[aria-label="Prev page"] {
  color: #6c757d;
}

.pagi-numbers li a[aria-label="Next page"]:hover {
  text-decoration: none;
  background-color: #fff;
}

.pagi-numbers li.pagination-next.disabled {
  color: #6c757d;
  background-color: #eae3d8;
  margin-right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 500;
}

.pagi-numbers li.pagination-previous.disabled {
  color: #6c757d;
  background-color: #eae3d8;
  margin-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 500;
}

.pagi-numbers li.pagination-previous {
  color: #6c757d;
  background-color: #eae3d8;
  margin-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 500;
}

.pagi-numbers li.pagination-next {
  color: #6c757d;
  background-color: #eae3d8;
  margin-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 500;
}

.pagi-numbers li.current {
  background: #f2aa4c;
}

.col-md-12.post-name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    /*text-transform: uppercase;
    color: #eba64b;*/
}

.float-left.country-override {
  padding: 8px 0;
}

.card.border-info.mb-3.override-card .card-header fa-icon {
  padding: 3px 6px;
  background-color: #373e44;
  color: #eae3d8;
  border-radius: 4px;
}

.card.border-info.mb-3.override-card .card-footer .footerIcon {
  padding: 3px 6px;
  background-color: #373e44;
  color: #eae3d8;
  border-radius: 4px;
}

.col-md-12.post-name span {
    color: #eba64b;
}

.col-md-12.post-date {
    font-weight: 600;
    color: #eba64b;
    text-align: right;
}

.col-md-12.testi {
    margin-top: 6px;
    color: white;
}

.row.testi-section {
    margin-top: 15px;
    padding-bottom: 10px;
    /*border-bottom: 2px solid #eba64b;*/
}

hr.testi-hr {
    border-top: 1px solid rgb(235, 166, 75);
}

.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	padding-left: 0;
  padding: 12px 12px 0 12px;
}

ul.testi-list {
	background-color: #d6d9dc;
  border: 1px solid #d6d9dc;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

ul.testi-list:nth-child(odd)
{
  background-color: #505961;
  border: 1px solid #505961;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

.comments-list li {
	margin-bottom: 10px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

/* .reply-list {
	padding-left: 88px;
	clear: both;
} */


.comment-main-level:after {
	content: none;
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

.comments-list .comment-box {
	width: 100%;
    float: right;
    position: relative;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 581px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #f2aa4c;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .button-reply button.replyLink  {
    margin: 14px auto;
    float: right;
    background-color: #f2aa4c;
    border-color: #f2aa4c;
    color: #373e44;
    filter: drop-shadow(3px 2px 3px #00080e);
    text-transform: uppercase;
    font-size: 13px;
    padding: 2px 7px;
    font-weight: 600;
}

.comment-box .button-reply button.replyLink:hover {
    text-decoration: none;
    background-color: #eae3d8;
    border-color: #eae3d8;
    color: #373e44;
}

.comment-box .comment-head button.replyLink:focus {
    outline: 1px dotted;
    outline: 0;
}


.comment-box .comment-name {
	color: #17a2b8;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
  text-transform: uppercase;
}
.comment-box .badge.badge-info.badge-comment {
  color: #fff;
  background-color: #f2aa4c;
}
.comment-box .comment-name.replyname {
	color: #f2aa4c;
}

.comment-box .comment-head span[class="badge badge-info mr-2"] {
    color: #fcfcfc;
}

.comment-box .comment-head span {
	float: left;
	color: #373e44;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.comment-box .comment-head span.postedDate {
  float: right;
  font-weight: 500;
}
/* end of testimonials */

/* reply */
.col-md-11.offset-md-1.testi-reply {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 15px;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

.row.reply-section {
    /*margin-bottom: 10px;*/
    margin-top: 5px;
}

.col-md-12.replied-name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.col-md-12.replied-name span {
      color: #eba64b;
}

.col-md-6.replied-date {
    text-align: right;
    font-weight: 600;
    color: #eba64b;
}

.reply-section {
    color: #373e44;
}
/* end of reply */

/* pagination */
.col-md-12.pagi {
    /*left: 25%;*/
    margin-top: 20px;
}
/* end of pagination */

.modal-title {
  color: #373e44;
  font-weight: 700;
}

.name-position p {
    color: white;
    margin-top: 25px;
    height: 138px;
}

.download-resume {
    margin-top: 25px;
}

button.btn.btn-primary.bntdwnld {
  border: 2px solid #ffffff;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 22px;
  background-color: transparent;
}

button.btn.btn-primary.bntdwnld:hover {
  text-decoration: none;
  border: 2px solid #f2aa4c;
  color: #f2aa4c;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(242,170, 76, .7); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5bc71; 
}

/* end scrollbar */


/* like button */
button.btn.btn-default.btn-md.btn-like {
    background-color: #373e44;
    color: #eae3d8;
    font-weight: 600;
    border: 2px solid #eae3d8;
    margin-top: -11px;
    padding: 8px 20px;
    border-radius: 22px;
}
button.btn.btn-default.btn-md.btn-like:hover {
    border: 2px solid #f2aa4c;
    /*background-color: #f2aa4c;*/
    color: #f2aa4c;
}

button.btn.btn-default.btn-md.btn-like.btn-liked-clicked {
    background-color: #373e44;
    color: #eae3d8;
    font-weight: 600;
    border: 2px solid #eae3d8;
    margin-top: -11px;
    padding: 8px 20px;
    border-radius: 22px;
}
button.btn.btn-default.btn-md.btn-like.btn-liked-clicked:hover {
    border: 2px solid #eae3d8;
    /*background-color: #eae3d8;*/
    color: #eae3d8;
}
/* end of like button */

/* view-profile button */
button.btn.btn-default.btn-md.btn-view-profile {
    background-color: #373e44;
    color: #eae3d8;
    font-weight: 600;
    border: 2px solid #eae3d8;
    margin-top: -11px;
    padding: 8px 11px;
    border-radius: 22px;
}
button.btn.btn-default.btn-md.btn-view-profile:hover {
    border: 2px solid #f2aa4c;
    /*background-color: #f2aa4c;*/
    color: #f2aa4c;
}

button#buttonIP831614369 {
    border: 2px solid #f2aa4c;
    background-color: #373e44;
    color: #f2aa4c;
}
/* end of view-profile button */

/* 000webhost bottom logo */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
/* end 000webhost bottom logo */

/* home-page */
.header-title fa-icon {
  background-color: #f2aa4c;
  padding: 3px 7px;
  color: #373e44;
  margin-right: 6px;
  font-weight: 600;
  margin-left: -1px;
}

.header-title {
  border: 1px solid #f2aa4c;
  margin-bottom: 2rem;
  font-size: 21px;
  color: #eae3d8;
  background-color: #373e44;
  font-weight: 600;
  display: inline-block;
  padding-right: 15px;
  margin-top: -3px;
  filter: drop-shadow(3px 2px 3px #00080e);
}

ul.p-info {
    list-style: none;
    margin-bottom: 2rem;
}

strong.label-indent {
    width: 140px;
    display: inline-block;
}

ul.p-info span {
    margin-left: 30px;
    font-weight: 600;
    color: #eae3d8;
}

ul.p-info li {
    margin-bottom: 5px;
}

.skills-box {
    border: 1px solid #f5e3c8;
    border-radius: 4px;
    margin-bottom: 20px;
    max-height: 320px;
}

.skill-header {
    background-color: #f5e3c8;
    padding: 5px 10px;
    color: #373e44;
    font-weight: 600;
}

.skill-body {
    padding: 10px 10px;
}

p.p_margin {
    margin-bottom: 2rem;
}

.header-title.education-header {
    margin-top: 1rem;
}

.education {
    margin-bottom: 18px;
}

.school-address {
    color: #eae3d8;
    font-size: 13px;
    font-weight: 600;
}

.education-level {
    font-size: 16px;
    background-color: #f5e3c8;
    color: #373e44;
    padding: 2px 15px;
    border-radius: 14px;
    /* text-align: center; */
    margin-bottom: 7px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

.course {
    font-size: 14px;
    color: #f2aa4c;
}

.education-level-name {
    float: left;
}

.school-year.text-right {
    float: right;
    color: #666e75;
}

.education.expe-box {
    border: 1px solid #f5e3c8;
    padding: 10px 15px;
}

.row-space-bottom {
  margin-bottom: 2rem;
}

/* end of home-page */

.steve {
    color: #eae3d8;
    font-size: 12px;
    font-weight: 600;
}

.row.row-space {
  margin-top: 10px;
  font-weight: 600;
}

.left-info {
  text-align: right;
}

span.badge.badge-circle.background--danger.mr-4 {
  background-color: #f2aa4c;
    color: #373e44;;
}

.badge-circle {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0;
}
/* work page */

.wrap-box {
  width: 100%;
  height: auto;
}
.gallery {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px 10px;
  padding-left: 0;
}
.image-thumbnail {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #eee;
  margin: 5px 4px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 3px 2px 5px #444;
  transition: 300ms ease;
}
.image-thumbnail img {
  display: block;
  width: 195px;
  /*height: 200px;*/
}
.gallery:hover .image-thumbnail:not(:hover) {
  filter: blur(2px) grayscale(1);
  opacity: 0.7;
  transform: scale(0.9);
}
/*        Light Box Styling             */
.light-box {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 73, 74, 0.7);
  transition: 500ms ease;
  z-index: 1;
}
.light-box:target {
  visibility: visible;
  opacity: 1;
}
.edges {
  width: min-content;
  height: auto;
  background-color: #ccc;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 0 30px #333;
}
.title {
  color: #222;
  font-size: 20px;
  text-align: center;
}
.inner-image {
  position: inherit;
  width: 100%;
  height: 100%;
}
.inner-image img {
  min-width: 766px;
  min-height: 485px;
  margin-bottom: 10px;
}
.close-btn,
.next-btn {
  float: right;
}
.close-btn {
  padding: 5px 0;
}
.close-btn,
.next-btn,
.previous-btn {
  font-size: 16px;
}
span a {
  color: #444;
}
.image-title {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  color: #222;
  background-color: transparent;
  border-bottom: 5px solid #eee;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: 300ms ease;
}
inner-image:hover .image-title {
  opacity: 0.8;
}

span.work-details {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f2aa4c;
}

span.previous-btn a {
    color: #fefefe;
    border: 2px solid #373e44;
    padding: 0 10px 3px 10px;
    background-color: #373e44;
}

span.next-btn a {
    color: #fefefe;
    border: 2px solid #373e44;
    padding: 0 10px 3px 10px;
    background-color: #373e44;
}

span.close-btn a {
  background-color: #373e44;
  color: #fefefe;
  padding: 4px 9px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 19px;
}

span.close-btn a:hover {
  text-decoration: none;
  background-color: #fefefe;
  color: #373e44;
}

span.close-btn {
  margin-bottom: 7px;
  padding-top: 0;
}

.proj-cont-box {
  background-color: #eeeeee;
  background-image: url(assets/image/sccopac-web.jpg);
  color: #373e44;
  padding: 8px 8px;
  height: 268px;
  margin-bottom: 40px;
}

.projects-content {
  margin: 20px auto;
}

.proj-img img {
  height: 230px;
  margin: 13px 30px;
  box-shadow: 3px 2px 5px #00080e;
}

h3.sccopac {
  margin-top: 30px;
}

.scc-title {
  font-weight: 600;
  margin: 28px auto;
}

button.btn.btn-default.btn-md.btn-view-project {
  border: 2px solid #f3aa4c;
  padding: 5px 20px;
  color: #f3aa4c;
  font-weight: 600;
  border-radius: 22px;
}

button.btn.btn-default.btn-md.btn-view-project:hover {
  border: 2px solid #373e44;
  color: #373e44;
}
/* end of work page */

/* contact page */

h4.write-us {
    border-bottom: 1px solid #eae3d8;
    display: inline-block;
    padding-bottom: 10px;
    color: #eae3d8;
    margin-bottom: 20px;
}

.col-md-6.col-border-right {
    border-right: 2px solid #eae3d8;
}

/* .contact input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  padding: .375rem .0rem;
}

.contact label {
    color: #bdc8d2;
    margin-bottom: 0;
}

.contact input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  padding: .375rem .0rem;
}


.contact textarea,
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  padding: .375rem .0rem;
} */

/* .contact .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    color: white;
    box-shadow: none;
    border-bottom: 1px solid #fff; 
} */

.send-button a {
    color: #373e44;
    font-weight: 600;
    font-size: 12px;
}

.send-button {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    background-color: #eae3d8;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button#send_email {
  margin-top: 17px;
  background-color: #f2aa4c;
  border-color: #f2aa4c;
  color: #373e44;
  filter: drop-shadow(3px 2px 3px #00080e);
  font-weight: 700;
}

button#send_email:hover {
  background-color: #eae3d8;
  border-color: #eae3d8;
}
/* end of contact page */

/* facebook, linkedin, instagram icon */
svg.svg-inline--fa.fa-facebook-square.fa-w-14 {
    color: #fcead2;
}

svg.svg-inline--fa.fa-linkedin.fa-w-14 {
    color: #fcead2;
}

svg.svg-inline--fa.fa-instagram.fa-w-14 {
    color: #fcead2;
}

svg.svg-inline--fa.fa-facebook-square.fa-w-14:hover {
    color: #f2aa4c;
}

svg.svg-inline--fa.fa-linkedin.fa-w-14:hover {
    color: #f2aa4c;
}

svg.svg-inline--fa.fa-instagram.fa-w-14:hover {
    color: #f2aa4c;
}
/* end of facebook, linkedin, instagram icon */

/* gallery page */
.cd-svg-clipped-slider {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 4em auto;
}
.cd-svg-clipped-slider .gallery-wrapper,
.cd-svg-clipped-slider .gallery,
.cd-svg-clipped-slider .caption {
  position: relative;
}
.cd-svg-clipped-slider .gallery li {
  /* slider images */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;
  /* (100% - width)/2 */
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(75%) scale(0.4);
      -ms-transform: translateX(75%) scale(0.4);
          transform: translateX(75%) scale(0.4);
  cursor: pointer;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.cd-svg-clipped-slider .gallery li.selected {
  /* slide in the center */
  position: relative;
  z-index: 3;
  height: 0;
  padding-bottom: 50%;
  /* width(50%) * image aspect ratio (800/800) */
  opacity: 1;
  -webkit-transform: translateX(0) scale(1);
      -ms-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
  cursor: auto;
}
.cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
  /* slides on the left */
  /* .left -> slide visible on the left; .left-hide -> slides hidden on the left */
  -webkit-transform: translateX(-75%) scale(0.4);
      -ms-transform: translateX(-75%) scale(0.4);
          transform: translateX(-75%) scale(0.4);
}
.cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.right {
  /* .right -> slide visible on the right */
  z-index: 2;
  opacity: 1;
}
.cd-svg-clipped-slider .svg-wrapper {
  /* using padding Hack to fix bug on IE - svg height not properly calculated */
  height: 0;
  padding-bottom: 100%;
  /* image aspect ratio (800/800) * 100 */
}
.cd-svg-clipped-slider svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cd-svg-clipped-slider use.cover-layer {
  /* dark layer visible on lateral slides */
  fill: #243238;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: .2;
}
.cd-svg-clipped-slider use.cover-layer:hover {
  opacity: 0;
}
.cd-svg-clipped-slider .gallery li.selected use.cover-layer {
  opacity: 0;
}
.cd-svg-clipped-slider .caption {
  margin: 1em 0;
  overflow: hidden;
}
.cd-svg-clipped-slider .caption li {
  /* slide titles */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  padding: 1em 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.cd-svg-clipped-slider .caption li.selected {
  /* slide visible in the center */
  z-index: 2;
  position: relative;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.cd-svg-clipped-slider .caption li.left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}
@media only screen and (min-width: 768px) {
  .cd-svg-clipped-slider .caption li {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-svg-clipped-slider {
    width: 90%;
  }
  .cd-svg-clipped-slider .gallery li {
    left: 30%;
    /* (100% - width)/2 */
    width: 40%;
    -webkit-transform: translateX(80%) scale(0.4);
        -ms-transform: translateX(80%) scale(0.4);
            transform: translateX(80%) scale(0.4);
  }
  .cd-svg-clipped-slider .gallery li.selected {
    padding-bottom: 40%;
    /* width(40%) * image aspect ratio (800/800) */
  }
  .cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
    -webkit-transform: translateX(-80%) scale(0.4);
        -ms-transform: translateX(-80%) scale(0.4);
            transform: translateX(-80%) scale(0.4);
  }
}

.cd-svg-clipped-slider .navigation a {
  /* slider arrows */
  position: absolute;
  /* center arrow in the lateral preview */
  /* left = */
  /* 25% (.left left value) */
  /* - 37.5% (.left translateX value converted to container percentage ( 50%(.left width) x 75% (.left translate value) /100) ) */
  /* + 25% ( .left width (50%)/2 ) */
  left: 12.5%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
          transform: translateX(-50%) translateY(-50%) scale(0.7);
  top: 50%;
  z-index: 4;
  pointer-events: none;
  /* replace text with image */
  height: 48px;
  width: 48px;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  background: url(assets/image/cd-icon-arrows.svg) no-repeat 0 0;
}
.cd-svg-clipped-slider .navigation a.next {
  left: auto;
  right: 12.5%;
  -webkit-transform: translateX(50%) translateY(-50%) scale(0.7);
      -ms-transform: translateX(50%) translateY(-50%) scale(0.7);
          transform: translateX(50%) translateY(-50%) scale(0.7);
  background-position: -48px 0;
}
.no-csspointerevents .cd-svg-clipped-slider .navigation a {
  display: none;
}
@media only screen and (min-width: 1170px) {
  .cd-svg-clipped-slider .navigation a {
    left: 18%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .cd-svg-clipped-slider .navigation a.next {
    left: auto;
    right: 18%;
    -webkit-transform: translateX(50%) translateY(-50%);
        -ms-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
  }
}

.cd-svg-clipped-slider.prev-hidden .navigation a.prev,
.cd-svg-clipped-slider.next-hidden .navigation a.next {
  /* hide prev/next arrow if first/last slide */
  opacity: 0;
}

.cd-svg-clipped-slider .navigation a.prev.active {
  /* scale up prev arrow on active */
  -webkit-animation: cd-click-prev .3s;
          animation: cd-click-prev .3s;
}

.cd-svg-clipped-slider .navigation a.next.active {
  /* scale up next arrow on active */
  -webkit-animation: cd-click-next .3s;
          animation: cd-click-next .3s;
}

@-webkit-keyframes cd-click-prev {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@keyframes cd-click-prev {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@-webkit-keyframes cd-click-next {
  0% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(0.8);
            transform: translateX(50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(1);
            transform: translateX(50%) translateY(-50%) scale(1);
  }
}
@keyframes cd-click-next {
  0% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(0.8);
            transform: translateX(50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(1);
            transform: translateX(50%) translateY(-50%) scale(1);
  }
}

/* end of gallery page */

/* visitor page */
span.category-list a {
  color: white;
}

span.category-list a:hover {
  text-decoration: none;
  color: #f2aa4c;
  font-weight: 600;
}

.visitor table {
  color: #373e44;
  background: #ffffff;
  text-align: center;
}

.visitor table.table-striped.table-bordered thead th, table.table-striped.table-bordered thead td {
  color: #373e44;
  border-bottom: 1px solid #373e44;
  background-color: #f2aa4c;
}

.visitor table.table-striped.table-bordered {
  border: 0;
}


.visitor table.table-striped.table-bordere td, .table.table-striped.table-bordere th {
  border: 1px solid #373e44;
}

.visitor .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info {
  color: #eae3d8;
}
.visitor .dataTables_wrapper .dataTables_length select {
  border: 1px solid #eae3d8;
  color: #eae3d8;
}

div#datatableexample_length select option {
  color: #373e44;
}

div#datatableexample_paginate a {
  color: #eae3d8 !important;
  font-weight: 500;
}

div#datatableexample_paginate a.paginate_button.current {
  color: #373e44 !important;
  background: #f2aa4c;
}

div#datatableexample_paginate a.paginate_button:hover {
  color: #373e44 !important;
  border: 1px solid #eae3d8;
  background: #eae3d8;
}

.dataTables_wrapper .dataTables_filter input {
  color: #eae3d8;
}

.col-md-12.visible-phone.d-none .card {
  margin-bottom: 12px;
  color: #373e44;
  border: 1px solid rgb(55 62 68);
  background-color: #eae3d8;
}

.col-md-12.visible-phone.d-none .card .card-header {
  font-weight: 500;
  background-color: #f2aa4c;
}

.col-md-12.visible-phone.d-none .card .card-header span {
  color: #fff;
  float: right;
}

.col-md-12.visible-phone.d-none .card ul.list-group.list-group-flush .list-group-item {
  background-color: #eae3d8;
}

.col-md-12.visible-phone.d-none .card ul.list-group.list-group-flush .list-group-item span {
  float: right;
  color: #757b81;
}
/* end visitor page */

.toggledAnother ul li a.active {
  color: #f2aa4c !important;
}
.Gallery {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-item {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #fff;
  margin: 5px 12px;
  cursor: pointer;
  box-shadow: 3px 2px 5px #00080e;
  transition: 300ms ease;
  position: relative;
}

.gallery-item a {
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.gallery-item a img {
  display: block;
  width: 195px;
  height: 204px;
}

.gallery-item a:hover:after{
    content:'';
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: url('https://medillorickryan.000webhostapp.com/assets/img/P1ELC.png') center no-repeat;
    background-size: 50px;
}

.gallery-item a:hover img{opacity: 0.4;}

div#Gallery {
  margin: 0 auto;
}

@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .gallery-item {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .gallery-item {
        width: 50%;
        padding-bottom: 33.3%;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .gallery-item {
        width: 33.3%;
        padding-bottom: 23%;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop: 4 tiles */
    .gallery-item {
        width: 25%;
        padding-bottom: 17%;
    }
}



/* Directly from:
http://photoswipe.com/latest/photoswipe.css
*/
body.ps-active 
{
    -webkit-text-size-adjust: none;
}
body.ps-active * 
{ 
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
body.ps-active *:focus 
{ 
    outline: 0; 
}


/* Document overlay */
div.ps-document-overlay 
{
    background: #000;
}


/* Viewport */
div.ps-viewport 
{
    background: #000;
    cursor: pointer;
}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
    background: #000;
}


/* Slider */
div.ps-slider-item-loading 
{ 
    background: url() no-repeat center center; 
}


/* Caption */
div.ps-caption
{ 
    background: #000000;
    background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
    border-bottom: 1px solid #42403f;
    color: #ffffff;
    font-size: 13px;
    font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
    text-align: center;
}

div.ps-caption-bottom
{ 
    border-top: 1px solid #42403f;
    border-bottom: none;
}

div.ps-caption-content
{
    padding: 13px;
}


/* Toolbar */
div.ps-toolbar
{ 
    background: #000000;
    background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
    border-top: 1px solid #42403f;
    color: #ffffff;
    font-size: 13px;
    font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
    text-align: center;
    height: 44px;
    display: table;
    table-layout: fixed;
}

div.ps-toolbar-top 
{
    border-bottom: 1px solid #42403f;
    border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
    cursor: pointer;
    display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
    width: 44px;
    height: 44px;
    margin: 0 auto 0;
    background-image: url(assets/image/photoswipe-icons.png);
    background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
    background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
    background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
    background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
    background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
    background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
    background-position: -88px 0;
}

/* Hi-res retina display */
@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
    div.ps-toolbar div div.ps-toolbar-content
    {
        -webkit-background-size: 176px 88px;
        background-image: url(assets/image/photoswipe-icons@2x.png);
    }
}

.img-gallery {
  display: flex;
}

.img-gallery .col-md-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.img-gallery .col-md-4:first-child {
  padding-left: 15px;
}

.img-gallery .col-md-4:last-child {
  padding-right: 15px;
}

.img-gallery .col-md-4:first-child {
  padding-left: 15px;
}

.img-gallery .col-md-4 img {
  padding-top: 10px;
}

.disclaimer {
    display: none;
}
/* mobile view */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* .col-md-12.visible-phone {
    display: none;
  } */
  .row.row-break {
    display: block;
  }

  .education-level-name {
      float: none;
  }

  .school-year.text-right {
      float: left;
      color: #666e75;
  }

  .col-md-8 .left-footer {
      font-size: 12px;
  }

  .gallery-item {
    width: auto;
    padding-bottom: 0;
  }
  div#Gallery {
    text-align: center;
  }

  .reply-list .comment-box {
		width: 100%;
	}

}

/* @media screen and (max-height: 900px) and (min-height: 600px) {
.inner-image img {
  min-width: 469px;
  min-height: 485px;
  margin-bottom: 10px;
}
} */
@media (min-width: 768px) and (max-width: 991.98px) {
  button.btn.btn-primary.bntdwnld {
    border: 2px solid #373e44;
    color: #373e44;
  }
  .col-lg-4 .right-footer p fa-icon {
      color: #373e44;
  }
  
  .header-banner {
    background-image: none;
    background-color:#f2aa4c;
  }

  .column .col-md-12.col-lg-4 {
    margin-top: 1px;
    margin-top: 65px;
  }

  .logo-menu .col-md-12.col-lg-6.offset-lg-4 ul li a {
    color: white;
  }

  .toggledAnother ul li a.active {
    color: #373e44 !important;
  }

  .left-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .left-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .name-position p {
    margin-top: 25px;
    height: auto;
    width: 100%;
    text-align: center;
    color: black;
  }

  .dl-button {
    width: 100%;
    text-align: center;
  }

  .download-resume a {
    border: 2px solid #373e44;
    color: #373e44;
  }

  .content-right-box {
    margin-top: 40px;
  }

  .footer-bg {
    background-image: none;
    background-color: #f2aa4c;
  }

  .col-lg-8 .left-footer {
    margin-top: 40px;
    text-align: center;
  }

  .right-footer.text-center h5 {
    display: none;
  }

  .col-lg-4 .right-footer {
    color: #272522;
    margin-top: 16px;
  }

  .col-lg-4 .right-footer p i {
    color: #373e44;
  }

  .gallery-item {
    width: auto;
    padding-bottom: 0;
  }
  div#Gallery {
    text-align: center;
  }

  .header-name {
    text-align: center;
  }

  .header-name h1 {
    margin: 22px 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f2aa4c;
    margin-bottom: 10px;
    background-color: #373e44;
    padding: 5px 0;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    filter: drop-shadow(3px 2px 3px #00080e);
  }

  .logo-menu {
    padding-top: 0;
    padding-bottom: 0;
  }

  .left-box {
    margin-top: -170px;
  }

  .wrapper .fr1 a img {
    display: none;
  }

  .toggledAnother {
    float: none;
  }
  
  ul.horizontalMenu3 {
    text-align: center;
  }

  ul.horizontalMenu3 li:last-child {
    margin-right: 0;
  }

  ul.horizontalMenu3 {
    margin: 0;
  }

  .reply-list {
      padding-left: 0;
  }

}

@media (min-width: 576px) and (max-width: 767.98px)  {
  button.btn.btn-primary.bntdwnld {
    border: 2px solid #373e44;
    color: #373e44;
  }
  .col-lg-4 .right-footer p fa-icon {
    color: #373e44;
  }
  
  .header-banner {
    background-image: none;
    background-color:#f2aa4c;
  }

  .column .col-sm-12.col-md-12.col-lg-4 {
    margin-top: 1px;
    margin-top: 65px;
  }

  .logo-menu .col-sm-12.col-md-12.col-lg-6.offset-lg-4 ul li a {
    color: white;
  }
  
  .logo-menu .col-sm-12.col-md-12.col-lg-6.offset-lg-4 ul li a {
    color: white;
  }

  .toggledAnother ul li a.active {
    color: #373e44 !important;
  }

  .left-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .left-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .name-position p {
    margin-top: 25px;
    height: auto;
    width: 100%;
    text-align: center;
    color: black;
  }

  .dl-button {
    width: 100%;
    text-align: center;
  }

  .download-resume a {
    border: 2px solid #373e44;
    color: #373e44;
  }

  .content-right-box {
    margin-top: 40px;
  }

  .footer-bg {
    background-image: none;
    background-color: #f2aa4c;
  }

  .col-lg-8 .left-footer {
    margin-top: 40px;
    text-align: center;
  }

  .right-footer.text-center h5 {
    display: none;
  }

  .col-lg-4 .right-footer {
    color: #272522;
    margin-top: 16px;
  }

  .col-lg-4 .right-footer p i {
    color: #373e44;
  }

  .gallery-item {
    width: auto;
    padding-bottom: 0;
  }
  div#Gallery {
    text-align: center;
  }

  .proj-cont-box {
    background-color: #eeeeee;
    background-image: none;
    color: #373e44;
    padding: 8px 8px;
    height: auto;
  }

  .proj-img {
    text-align: center;
  }

  .proj-cont-box.left-proj-content .col-sm-12.col-md-8.col-lg-8 {
    text-align: center;
    margin-bottom: 15px;
  }

  .header-name {
    text-align: center;
  }

  .header-name h1 {
    margin: 22px 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #373e44;
    margin-bottom: 10px;
  }

  .logo-menu {
    padding-top: 0;
    padding-bottom: 0;
  }

  .left-box {
    margin-top: -170px;
  }

  .wrapper .fr1 a img {
    display: none;
  }

  .toggledAnother {
    float: none;
  }
  
  ul.horizontalMenu3 {
    text-align: center;
    margin: 0;
  }

  ul.p-info {
    padding-left: 0;
  }

  ul.p-info span {
    margin-left: 5px;
  }

  ul.horizontalMenu3 li:last-child {
    margin-right: 0;
  }

  .header-name h1 {
    margin: 22px 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f2aa4c;
    margin-bottom: 10px;
    background-color: #373e44;
    padding: 5px 0;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    filter: drop-shadow(3px 2px 3px #00080e);
  }

  .comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 100%;
	}

	.reply-list .comment-box {
		width: 100%;
	}

}

@media (max-width: 575.98px)   {
  .reply-list .comment-box {
    width: 100%;
  }

  .col-md-12.visible-phone.d-none {
      display: block !important;
  }

  .col-md-6.visible-phone.d-none {
      display: block !important;
  }
  .header-banner {
    background-image: none;
    background-color:#f2aa4c;
  }

  .column .col-sm-12.col-md-12.col-lg-4 {
    margin-top: 1px;
    margin-top: 65px;
  }
  .logo-menu .col-sm-12.col-md-12.col-lg-6.offset-lg-4 ul li a {
    color: #eca64a;
    border: 2px solid #373e44;
    margin: 0;
    display: block;
    background-color: #eae3d8;
  }
  .toggledAnother ul li a.active {
    color: #373e44 !important;
  }

  .name-position p {
    margin-top: 25px;
    height: auto;
    width: 100%;
    text-align: center;
    color: black;
  }

  .dl-button {
    width: 100%;
    text-align: center;
  }

  .download-resume a {
    border: 2px solid #373e44;
    color: #373e44;
  }

  .content-right-box {
    margin-top: 40px;
  }

  .footer-bg {
    background-image: none;
    background-color: #f2aa4c;
  }

  .col-lg-8 .left-footer {
    margin-top: 40px;
    text-align: center;
  }

  .right-footer.text-center h5 {
    display: none;
  }

  .col-lg-4 .right-footer {
    color: #272522;
    margin-top: 16px;
  }

  .col-lg-4 .right-footer p i {
    color: #373e44;
  }

  button.btn.btn-primary.bntdwnld {
    border: 2px solid #373e44;
    color: #373e44;
  }
  .col-lg-4 .right-footer p fa-icon {
    color: #373e44;
  }
  
  .header-name h1 {
    margin: 22px 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f2aa4c;
    margin-bottom: 10px;
    background-color: #373e44;
    padding: 5px 0;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    filter: drop-shadow(3px 2px 3px #00080e);
  }

  .header-name {
    text-align: center;
  }

  .logo-menu {
    padding-top: 0;
    padding-bottom: 0;
  }


  .left-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }

  .left-box {
    margin-top: 40px;
  }

  .proj-cont-box {
    background-color: #eeeeee;
    background-image: none;
    color: #373e44;
    padding: 8px 8px;
    height: auto;
  }

  .proj-img {
    text-align: center;
  }

  .proj-cont-box.left-proj-content .col-sm-12.col-md-8.col-lg-8 {
    text-align: center;
    margin-bottom: 15px;
  }

  .wrapper .fr1 a img {
    display: none;
  }

  .toggledAnother {
    float: none;
  }
  
  ul.horizontalMenu3 {
    display: grid;
    text-align: center;
  }
  
  ul.horizontalMenu3 li {
    margin: 0 0 10px 0;
  }
  
  ul.p-info {
    padding-left: 0;
  }

  ul.p-info span {
    margin-left: 5px;
  }

  ul.horizontalMenu3 li:last-child {
    margin-right: 0;
  }

  .gallery-item {
    width: auto;
    padding-bottom: 0;
  }
  div#Gallery {
    text-align: center;
  }
  /* old */
  .category .col-md-6.col-sm-6.col-xs-6 {
    width: 50%;
  }
  
  .category .col-md-6.col-sm-6.col-xs-6.text-right {
    width: 50%;
  }
  
  span.category-list {
      position: absolute;
      z-index: 1;
  }

  span.mr-4 {
    display: none;
  }

  .row.row-space.d-flex.align-items-center {
    border: 1px solid #f2aa4c;
    padding: 0;
    text-align: center;
  }

  .left-info {
    color: #373e44;
    text-align: center;
    background-color: #f2aa4c;
    padding: 3px 0;
  }

  .right-infor {
    padding: 5px 0 7px 0;
  }

  .fr1 a {
    padding: 0;
    line-height: 0;
  }
  .reply-list {
    padding-left: 0;
  }

}

@media screen and (max-width: 462px)  {
  .fr1 a {
    padding: 0;
    line-height: 0;
  }

  .wrapper .fr1 a img {
    display: none;
  }

  .toggledAnother {
    float: none;
  }
  
  ul.horizontalMenu3 {
    display: grid;
    text-align: center;
  }

  .left-box {
    margin-top: 40px;
  }
  
  .left-box img {
    width: 100%;
    padding-top: 0;
  }
  /* ul.horizontalMenu3 li:last-child {
    margin: 0;
  } */

  /* ul.horizontalMenu3 li {
    border: 2px solid #373e44;
    margin: 5px 0;
  } */

  ul.horizontalMenu3 li {
    margin: 0 0 10px 0;
  }

  .fr1 a {
    padding: 0;
  }

  .logo-menu .col-sm-12.col-md-12.col-lg-6.offset-lg-4 ul li a {
    color: #eca64a;
    border: 2px solid #373e44;
    margin: 0;
    display: block;
    background-color: #eae3d8;
  }

}